<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="results">
            <div class = "account_name"><span><%- account_name %></span></div>
            <div class = "description">
              <div class = "account_number"><%- account_number %></div>
            </div>
        </div>
    </body>
</html>