<!DOCTYPE html>
<html>
    <head>

    </head>
    <bod>
        <div class="results">
            <div class = "available_name"><span><%- available_balance %></span></div>
        </div>
    </bod>
</html>