<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="results">
            <div class = "message"><span><%- message %></span></div>
            <div class = "description">
              <div class = "amount"><%- amount %></div>
            </div>
        </div>
    </body>
</html>