<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="results">
            <div class = "message"><span><b>MESSAGE = </b><%- message %></span></div>
            &nbsp;&nbsp;
            <div class = "description">
              <div class = "amount"><span><b>AMOUNT = </b><%- amount %></span></div>
            </div>
        </div>
    </body>
</html>