<!DOCTYPE html>
<html>
    <head>

    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        <div class="container">
            <div class="title"> CREATE ACCOUNT </div>
            &nbsp;&nbsp;
            <form action="/create" method="post" class="form">
                <div class="input_details">
                    <div class="input-box">
                        <span class="details">firstname</span>
                        <input type="text" name="firstname">
                    </div>
                    <div class="input-box">
                        <span class="details">surname</span>
                        <input type="text"  value="" name="surname">
                    </div>
                    <div class="input-box">
                        <span class="details">email</span>
                        <input type="text" value="" name="email">
                    </div>
                    <div class="input-box">
                        <span class="details">mobile_no</span>
                        <input type="text", placeholder="" value="" name="mobile_no">
                    </div>
                    <div class="input-box">
                        <span class="details">accountName</span>
                        <input type="text", placeholder="" value="" name="account_name">
                    </div>
                    <div class="input-box">
                        <span class="details">dob</span>
                        <input type="text", placeholder="1999-03-03" value="" name="dob">
                    </div>
                    <div class="input-box">
                        <span class="details">title</span>
                        <input type="text", placeholder="Mr" value="" name="title">
                    </div>
                    <div class="input-box">
                        <span class="details">gender</span>
                        <input type="text", placeholder="M" value="" name="gender">
                    </div>
                    <div class="input-box">
                        <span class="details">address_line_1</span>
                        <input type="text", placeholder="" value="" name="address_line_1">
                    </div>
                    <div class="input-box">
                        <span class="details">city</span>
                        <input type="text", placeholder="" value="" name="city">
                    </div>
                    <div class="input-box">
                        <span class="details">state</span>
                        <input type="text", placeholder="" value="" name="state">
                    </div>
                </div>
                <div class="button">
                    <input type="submit",  value="create">
                </div>
            </form>
        </div>
        <div class="results">
            <div class = "account_name"><span><%- account_name %></span></div>
            <div class = "description">
              <div class = "account_number"><%- account_number %></div>
            </div>
        </div>
    </body>
</html>