<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="results">
            <div class = "closing_balance"><span><%- closing_balance %></span></div>
            <div class = "description">
              <div class = "opening_balance"><%- opening_balance %></div>
            </div>
        </div>
    </body>
</html>